<%= form_for(@analytics_setting, :url => penn_station.analytic_path(@analytics_setting)) do |f| %>
  <% if @analytics_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analytics_setting.errors.count, "error") %> prohibited these settings from being saved:</h2>

      <ul>
      <% @analytics_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tracking_id, "Tracking Id" %><br>
    <%= f.text_field :tracking_id, :style => "width: 300px;" %>
  </div>
  <div class="field">
    <%= f.label :tracking_code, "Tracking Code" %><br>
    <%= f.text_area :tracking_code, :style => "width: 850px; height: 300px;" %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
