  <p> To authorize access to your Google Analytics account: </p>
  <ol style="font-size: 1.25em;">
    <li>Click this <a target="_blank" href="<%= analytics_authorization_url %>">link</a> and follow the instructions to authorize access</li>
    <li style="margin-top: 5px;">Copy the authorization code provided by Google</li>
    <li style="margin-top: 5px;">Paste the authorization code into the form below and hit "submit"</li>
  </ol>

  <%= form_tag penn_station.analytics_path do %>
    <%= text_field_tag :authorization_code, nil, :style => "width: 550px;" %>
    <%= submit_tag :submit %>
  <% end %>

