<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to analytics data page", penn_station.analytics_path %></li>

    <% if current_pennstation_user.has_role?("admin","pennstation_admin") %>
      <li><%= link_to "Clear analytics settings", penn_station.analytic_path(@analytics_setting), method: :delete, data: { confirm: 'Are you sure? You will need to reauthorize access to your google analytics account!' }, class: "button delete_button" %></li>
    <% end %>
  </ol>
<% end %>


<h1>Edit Analytics Settings</h1>

<%= render 'form' %>

